alembic
aredis
deepspeech-tflite==0.9.3
environs
ffmpeg-python
halo
numpy
psycopg2
pyaudio
requests
sanic==20.12.3
sanic-cors==0.10.0.post3
sanic-jwt
sanic-validation==0.5.1
scipy
sqlalchemy
webrtcvad
websocket
websocket-client
websockets
werkzeug
