alembic
aredis
deepspeech==0.9.3
environs
ffmpeg-python
halo
numpy
psycopg2
pyaudio
requests
sanic==18.12.0
sanic-cors==0.10.0.post3
sanic-jwt
sanic-validation==0.3.1
scipy
sqlalchemy
webrtcvad
werkzeug
